{% extends "base.html" %}

{% load static %}

{% block title %} Контакты {% endblock title %}

{% block content %}

<div class="Contacts container">
    <div class="row">
    <div class="numbers col-sm ">
        <b style="font-size:xx-large">Контакты</b>
        <ul class="list-group col-4  mb-2 list-group-flush ">
            <li class="list-group-item">Телефон +38 098 000 8887</li>
            <li class="list-group-item">Тел./факс+38 050 401 0880</li>
            <li class="list-group-item">E-mail: carsharing@gmail.com</li>
        </ul>

    </div>
        </div>

</div>
{% endblock content %}