{% extends "base.html" %}

{% load static %}
{% block title %} FAQ {% endblock title %}
{% block content %}
<section class="about-company-section-1">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h1>FAQ</h1>
         </div>
      </div>
            <div class="row">
         <div class="col-lg-12">
            <div class="panel-group groups gfaq" id="accordion">

                  <h2 class=" mb-6 mt-7">Что такое Carsharing?</h2>                  <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" data-target="#collapse1">
                              <span>1. Что такое услуга Carsharing?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse1" class="collapse" aria-labelledby="collapse1" data-parent="#accordion" style="">
                        <div class="card-body">
                           Каршеринг - очень удобный и простой прокат автомобиля. Без офисов, менеджеров, бумажных актов выдачи/приёма автомобиля, оплаты в кассу, громадных залогов, возврата автомобиля строго в офисе, в рабочее время и прочей волокиты. Это прокат машины через сайт. В цену включены парковка в городе, топливо, страховки, шины по сезону и многое другое.                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" data-target="#collapse2">
                              <span>2. Чем вы лучше такси?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse2" class="collapse " aria-labelledby="collapse2" data-parent="#accordion">
                        <div class="card-body">
                           Каршеринг - это один из видов транспорта. Благодаря тому, что прокат машины стал настолько простым и быстрым, он начал активно конкурировать с такси, особенно в Европе и Америке.                                                 </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" data-target="#collapse3">
                              <span>3. Это выгодно?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse3" class="collapse " aria-labelledby="collapse3" data-parent="#accordion">
                        <div class="card-body">
                           Каждый выбирает, что ему выгодно. Это удобно и просто. Проще чем арендовать автомобиль где-либо.
Наш сервис поможет, если:
<ul>
<li>Нужен автомобиль из точки А в точку В</li>
<li>Поездить по делам</li>
<li>Нужен второй автомобиль в семью не постоянно, а периодически</li>
<li>Поломался свой автомобиль</li>
<li>Ждете автомобиль, который заказали в США или в автосалоне</li>
<li>Просто потому, что вам больше не нужен автомобиль, вы посчитали, что его содержать и терять на разницы цены совсем не выгодно</li>
</ul>                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" data-target="#collapse4">
                              <span>4. Я могу взять машину в одном районе, а вернуть в другом?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse4" class="collapse" aria-labelledby="collapse4" data-parent="#accordion" style="">
                        <div class="card-body">
                           Да, конечно. Выбирайте автомобиль, если в вашем районе есть зона «завершения» поездок, вы сможете закончить там аренду.                                                   </div>
                     </div>
                  </div>
                  <h2 class=" mb-6 mt-7">Начать пользоваться </h2>                  <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" data-target="#collapse5">
                              <span>5. Кто может стать клиентом сервиса?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse5" class="collapse " aria-labelledby="collapse5" data-parent="#accordion">
                        <div class="card-body">
                           Любой человек, который достиг возраста 21 года со стажем вождения от 2-х лет (дата выдачи водительского, либо дата, указанная в твоём водительском возле категории В). Сервисом могут пользоваться граждане Украины, иностранцы и лица без гражданства.                                                         <!--<a class="button button--saqui button--inverted button--border-thin button--round-s" data-text="" href="https://service.getmancar.com.ua/Content/sign-up/index.html#/" role="button" target="_blank"></a>-->

                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" data-target="#collapse6">
                              <span>6. Как начать пользоваться каршерингом?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse6" class="collapse " aria-labelledby="collapse6" data-parent="#accordion">
                        <div class="card-body">
                        Пройди регистрацию на сайте.

                                           </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" data-target="#collapse7">
                              <span>7. Какие документы необходимы для присоединения к сервису?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse7" class="collapse " aria-labelledby="collapse7" data-parent="#accordion">
                        <div class="card-body">
                           Делай фото через приложение запрашиваемых страниц паспорта и водительского удостоверения при регистрации.
Запрашивается:
<ol>
<li>Фото страницы паспорта с фотографией. Либо лицевая сторона, если используешь ID карту.</li>
<li>Фото страницы паспорта с местом регистрации (прописка). Либо выписка из реестра, если у тебя ID карта.</li>
<li>Лицевая сторона водительского</li>
<li>Оборот водительского</li>
<li>Твоё селфи с водительским</li>
</ol>                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" data-target="#collapse8">
                              <span>8. У меня нет документов, можно их добавить позже?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse8" class="collapse " aria-labelledby="collapse8" data-parent="#accordion">
                        <div class="card-body">
                           Можешь начать регистрацию, а позже добавить фото документа, которого недостает на момент регистрации. До момента добавления всех документов, использование автомобиля невозможно.                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" data-target="#collapse10">
                              <span>9. Когда смогу ехать?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse9" class="collapse " aria-labelledby="collapse9" data-parent="#accordion">
                        <div class="card-body">
                           Зарегистрировался? Присоединяй карту для оплаты сервиса. <br>
Модерация откроет доступ к сервису как можно быстрее. Максимальный срок допуска к сервису 48 часов с момента предоставления документов. <br>
Если чего-то не хватает, либо мы не смогли прочитать твои документы на фото, требуется дополнительная информация, мы отправим письмо на твой email.<br>
                        </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" data-target="#collapse11">
                              <span>10. Не добавляет карточку к вашему сервису</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse10" class="collapse " aria-labelledby="collapse10" data-parent="#accordion">
                        <div class="card-body">
                           Если, при попытке добавления кредитной карточки к сервису, ты столкнулся с тем, что карта не добавляется, хотя операция по заморозке 1 (одной) грн. проходит успешно. Обратись в свой банк, скорее всего:
<ul>
<li>Установлен запрет на операции в интернете по твоей карте</li>
<li>Установлен либо включен низкий лимит по карте для платежа в интернете</li>
<li>Карта блокирована для безакцептных платежей</li>
<li>Низкий статус карты (Visa Electron, Maestro).</li>
</ul>                                                   </div>
                     </div>
                  </div>

                  <h2 class=" mb-6 mt-7">Цена, как пользоваться?</h2>                  <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" data-target="#collapse11">
                              <span>11. Что включено в цену услуги?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse11" class="collapse " aria-labelledby="collapse11" data-parent="#accordion">
                        <div class="card-body">
                           В цену, что вы оплачиваете, включено:
<ul>
<li>Использование автомобиля</li>
<li>Страховки КАСКО (франшиза 20 000 грн.) и ОСАГО</li>
<li>Топливо на весь период использования автомобиля</li>
<li>Мойка автомобиля</li>
<li>Муниципальный паркинг в городе Киев</li>
<li>Резина по сезону на автомобиле</li>
<li>Ассистанс 24/7</li>
<li>Налоги и сборы</li>
</ul>                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" data-target="#collapse12">
                              <span>12. Тарификация</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse12" class="collapse " aria-labelledby="collapse12" data-parent="#accordion">
                        <div class="card-body">
                           У нас суточные тарифы.  <br>
                                                  </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" data-target="#collapse13">
                              <span>13. Как оплатить услугу?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse13" class="collapse " aria-labelledby="collapse13" data-parent="#accordion">
                        <div class="card-body">
                           Присоедини кредитную карту через сайт для оплаты услуг. Оплата за пользование автомобиля производится с твоей карты. Оплата производится по окончании поездки либо частичным списание в период твоей поездки.
                                                </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" data-target="#collapse14">
                              <span>14. Кто заправляет машину?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse14" class="collapse " aria-labelledby="collapse14" data-parent="#accordion">
                        <div class="card-body">
                           Наш персонал заправляет автомобиль, но, если остаток топлива в автомобиле, менее 20%, вам необходимо заправить машину. В перчаточном ящике находится карточка ОККО, мы активируем её по вашему обращению, и вы можете заправлять автомобиль. За потраченное время мы начислим 50 бонусов на ваш счет для поездок.
                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" data-target="#collapse15">
                              <span>15. Территория использования автомобиля</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse15" class="collapse " aria-labelledby="collapse15" data-parent="#accordion">
                        <div class="card-body">
                           Автомобиль можно использовать в пределах Киева. Завершить поездку можно только в «зонах завершения». Завершить поездку необходимо обязательно согласно правил дорожного движения, чтобы автомобиль не был эвакуирован полицией или инспекцией по парковке. <br>
Оставить автомобиль вне зоны завершения можно только используя режимы «ожидание».
                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" data-target="#collapse16">
                              <span>16. Как открыть/закрыть автомобиль?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse16" class="collapse " aria-labelledby="collapse16" data-parent="#accordion">
                        <div class="card-body">
                           Воспользуйся сайтом для открывания автомобиля. Внимание! Открыть можно только предварительно забронированный автомобиль.                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" data-target="#collapse17">
                              <span>17. Где взять ключ и документы от автомобиля?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse17" class="collapse " aria-labelledby="collapse17" data-parent="#accordion">
                        <div class="card-body">
                           Все ключи встроены в замок зажигания либо машина работает без ключа (кнопка). Не пытайтесь извлечь ключ из замка зажигания, он встроен в замок, его можно извлечь из замка сломав. <br>
Документы: свидетельство о регистрации, полис ОСАГО, топливную карту, ты найдешь в перчаточном ящике автомобиля.
                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" data-target="#collapse18">
                              <span>18. Куда и как вернуть автомобиль после использования? Где припарковать машину?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse18" class="collapse " aria-labelledby="collapse18" data-parent="#accordion">
                        <div class="card-body">
                           Оставь автомобиль в любой «зоне завершения». Заверши аренду так:
<ul>
<li>припаркуй автомобиль согласно ПДД</li>
<li>переведи рычаг АКПП в положение «Р» либо оставь авто на передаче, если это механика</li>
<li>включи ручной тормоз</li>
<li>потуши свет, закрой окна и заглуши двигатель</li>
<li>покинь автомобиль</li>
</ul>
Нельзя парковать и завершать поездку в местах:
<ul>
<li>слабого приёма GPS</li>
<li>платных парковках</li>
<li>закрытых стоянках, дворах, складах, офисах, куда нет свободного доступа</li>
<li>с нарушением ПДД, в том числе парковка на местах для инвалидов, электромобилей, таксистов</li>
<li>там, где автомобиль мешает пешеходам, подъезду, создает препятствия</li>
</ul>                                                   </div>
  </div>
 </div>

                  <h2 class=" mb-6 mt-7">Как оплатить. Страховка. Поломка. Происшествие.</h2>       <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse37" aria-expanded="false" data-target="#collapse37">
                              <span>37. Как проходит оплата за услуги</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse37" class="collapse " aria-labelledby="collapse37" data-parent="#accordion">
                        <div class="card-body">
                           Оплата за использование автомобиля происходит путем списания денег за поездку. Оплата взимается путем: заморозки залога на твоей карте и взимании оплаты сверх залога или достижении граничной суммы для оплаты (определяется программно) по окончании поездки либо частично в период поездки. <br>
Если сумма с карты не может быть списана, то после 24:00 будет списана сумма за поездку с залога, а остаток – возвращен.
                                                   </div>
                     </div>
                  </div>
                <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse44" aria-expanded="false" data-target="#collapse44">
                              <span>44.  Есть ли страховка на автомобили? Какая у меня ответственность</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse44" class="collapse " aria-labelledby="collapse44" data-parent="#accordion">
                        <div class="card-body">
                           Все автомобили застрахованы по КАСКО и ОСАГО. Лимит ответственности ограничен франшизой 20 000 грн (сумма, которая не оплачивается страховкой). <br>
Франшиза, ответственность задействуется в случае, если ты виновен в ДТП, вина обоюдная, либо виновник не установлен. Если виновник в ДТП третье лицо – страховка заплатит всю стоимость ущерба. <br>
Дополнительно, можно использовать тарифы с меньшей ответственностью (дополнительная страховка). Можно выбрать ответственность в приложении:
<ul>
•	0 грн.
•	5 000 грн.
•	10 000 грн.
•	20 000 грн.
</ul>
Для уменьшения ответственности просто переключи в настройках режим уменьшения ответственности. Уменьшение ответственности (дополнительное страховое покрытие) оплачивается ежемесячно.
                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse45" aria-expanded="false" data-target="#collapse45">
                              <span>45. Что такое франшиза?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse45" class="collapse " aria-labelledby="collapse45" data-parent="#accordion">
                        <div class="card-body">
                           Франшиза – сумма, которую не уплачивает страховая компания. Например, франшиза 5000 грн. При повреждении автомобиля на 10 000 грн., страховая компания оплатит только 5000 грн., а другие 5000 грн. будут удержаны с тебя. Если происшествие на 2000 грн. – страховая компания его оплачивать не будет, сумма будет удержана с тебя, так как франшиза 5000 грн.                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse46" aria-expanded="false" data-target="#collapse46">
                              <span>46. Как воспользоваться услугой полное покрытие по страховке?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse46" class="collapse " aria-labelledby="collapse46" data-parent="#accordion">
                        <div class="card-body">
                           Перейди в раздел меню - настройки, выбери раздел «ответственность». В разделе “ответственность” выбирай вариант подходящий для тебя.                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse47" aria-expanded="false" data-target="#collapse47">
                              <span>47. У меня случилось ДТП, какие мои действия</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse47" class="collapse " aria-labelledby="collapse47" data-parent="#accordion">
                        <div class="card-body">
                           <ul>
<li>Не покидай место происшествия, не передвигай автомобиль и предметы</li>
<li>Вызови полицию – 102</li>
<li>сообщи в Службу поддержки о происшествии</li>
<li>запиши и передай нашему оператору данные второго автомобиля (номер, марка, данные водителя)</li>
<li>дождись приезда полиции и оформи документы происшествия, пройди тест на алкоголь на драгере</li>
<li>передай документы представителю Getmancar не позднее следующего дня и/или отправь фото документов через мессенджер.</li>
</ul>
Поддержка поможет завершить поездку, свяжется со страховой компанией, отправит эвакуатор и персонал к месту происшествия.
                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse48" aria-expanded="false" data-target="#collapse48">
                              <span>48. На вашей машине есть повреждения! Я могу её использовать?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse48" class="collapse " aria-labelledby="collapse48" data-parent="#accordion">
                        <div class="card-body">
                           Если ты обнаружил повреждения на автомобиле, которые не помечены стикером, то сообщи о данных повреждениях оператору и отправь фото нам через приложение, свяжись со Службой поддержки при необходимости, следуй подсказкам оператора.                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse49" aria-expanded="false" data-target="#collapse49">
                              <span>49. С какими повреждениями я могу использовать автомобиль? Например, царапина.</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse49" class="collapse " aria-labelledby="collapse49" data-parent="#accordion">
                        <div class="card-body">
                           Если повреждение отмечено стикером (наклейкой), либо ты сообщил оператору о повреждении и отправил фото, и тебе указали на возможность продолжения передвижения, используй автомобиль. Если повреждения не отмечены, оператор не дал одобрения на использование автомобиля – аннулируй бронировку и воспользуйся другим автомобилем.                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse50" aria-expanded="false" data-target="#collapse50">
                              <span>50. Какие повреждения на автомобиле можно не рассматривать и не сообщать оператору?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse50" class="collapse " aria-labelledby="collapse50" data-parent="#accordion">
                        <div class="card-body">
                           Любое повреждение менее 5 см, если это не стеклянная поверхность или не вмятина, сдир, другие повреждения, отмеченные наклейкой. В любом случае ты можешь использовать функции приложения и сфотографировать повреждения. Таким образом мы получим информацию об обнаруженных тобою повреждениях.                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse51" aria-expanded="false" data-target="#collapse51">
                              <span>51. Я обнаружил автомобиль, у которого спущено колесо, какие мои действия?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse51" class="collapse " aria-labelledby="collapse51" data-parent="#accordion">
                        <div class="card-body">
                           Сообщи оператору о проблеме с автомобилем, мы устраним проблему как можно быстрее. Ты можешь воспользоваться другим автомобилем.                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse52" aria-expanded="false" data-target="#collapse52">
                              <span>52. В момент использования автомобиля у меня спустило колесо, что мне делать?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse52" class="collapse " aria-labelledby="collapse52" data-parent="#accordion">
                        <div class="card-body">
                           Припаркуй автомобиль, сообщи о проблеме оператору. Мы устраним проблему в ближайшее время. Воспользуйся другим стоящим автомобилем. <br>
Не осуществляй движение на спущенном колесе, это приведет к уничтожению колеса.                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse53" aria-expanded="false" data-target="#collapse53">
                              <span>53. Автомобиль сломался, что делать?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse53" class="collapse " aria-labelledby="collapse53" data-parent="#accordion">
                        <div class="card-body">
                           Остановись, включи сигнал аварийной остановки и свяжись со Службой поддержки, следуя подсказкам оператора.                                                   </div>
                     </div>
                  </div>

                  <h2 class=" mb-6 mt-7">Дополнительные вопросы</h2>                  <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse54" aria-expanded="false" data-target="#collapse54">
                              <span>54. Какие колеса установлены на автомобилях?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse54" class="collapse " aria-labelledby="collapse54" data-parent="#accordion">
                        <div class="card-body">
                           Резина установлена согласно сезона.                                                   </div>
                     </div>
                  </div>

                                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse56" aria-expanded="false" data-target="#collapse56">
                              <span>56. Возможна ли перевозка животных и/или крупногабаритных грузов?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse56" class="collapse " aria-labelledby="collapse56" data-parent="#accordion">
                        <div class="card-body">
                           Нет, мы не предоставляем такие услуги.                                                   </div>
                     </div>
                  </div>

                                    <div class="card shadow mb-2">
                     <div class="card-header">
                        <div class="mb-0 font-lg">
                           <a class="w-100 d-flex justify-content-between Accordion-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse57" aria-expanded="false" data-target="#collapse57">
                              <span>57. Могу ли я курить в автомобиле?</span>
                              <span><i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-right"></i></span>
                           </a>
                        </div>
                     </div>
                     <div id="collapse57" class="collapse " aria-labelledby="collapse57" data-parent="#accordion">
                        <div class="card-body">
                           Нет, это строгое нарушение. За нарушение этого условия предусмотрен штраф. Курение запрещено в том числе: электронных сигарет и IQOS.</a>
                                                   </div>
                     </div>
                  </div>
                           </div>
         </div>
      </div>
   </div>
</section>
{% endblock content %}
